In [1]:
# relative import hack
import sys
sys.path.insert(0, "..")

from covid_dc.school_data import (
    scrape_articles_data,
    scrape_notifications_data,
    parse_incidents,
    data_to_dataframe,
    fix_school_names,
    append_school_levels
)

import pandas as pd

import seaborn as sns

%pylab inline

pd.options.display.max_rows = 250
pd.options.display.max_columns = 50
pd.options.display.max_colwidth = None

Populating the interactive namespace from numpy and matplotlib

In [2]:
incidents = scrape_notifications_data()

In [3]:
incidents = parse_incidents(incidents)

May 10, 2021, notifying them of two positive COVID-19 cases in the building when students were present on May 4 and 5, 2021, respectively.  to  [[], [], [2], [], [], []]
April 1, 2021, notifying them of two positive COVID-19 cases in the building when students were present on March 31 and April 1, 2021, respectively. to  [[], [], [2], [], [], []]

In [4]:
all_data = data_to_dataframe(incidents)

In [5]:
all_data = fix_school_names(all_data)

In [6]:
all_data = append_school_levels(all_data)

In [7]:
# just copypastaing this to gsheets for now
all_data[all_data.incident_date >= "2021-08-20"][
    ["incident_date", "letter_date", "school", "cases_count", "school_level", "incident_text"]
].to_clipboard(index=False)

In [8]:
# Dropping sample data in a folder in the repo
all_data[all_data.incident_date >= "2021-08-20"].to_csv(
    "../data/output/school_covid_data_2021_2021_school_year.csv", index=False
)

## Below here is workspace

In [9]:
metadata = pd.read_csv("../data/input/DC_schools_metadata.csv")

In [10]:
schools = list(all_data.school.unique())

In [11]:
set([s for s in schools if s not in list(metadata.school)])

{'McKinley', 'Peabody Watkins'}

In [12]:
metadata.head().T

,0,1,2,3,4
school,KIPP IA,KIPP HE,KIPP LA,KIPP QA,KIPP SA
school_name_long,KIPP DC - Inspire Academy PCS,KIPP DC - Heights Academy PCS,KIPP DC - Lead Academy PCS,KIPP DC - Quest Academy PCS,KIPP DC - Spring Academy PCS
state_school_id,1185,3071,190,237,214
lea_name,KIPP DC PCS,KIPP DC PCS,KIPP DC PCS,KIPP DC PCS,KIPP DC PCS
lea_id,129,129,129,129,129
level,Elementary,Elementary,Elementary,Elementary,Elementary
grades,1 - 3,1 - 4,1 - 4,1 - 4,1 - 4
ward,8,8,6,7,5
charter_status,Charter,Charter,Charter,Charter,Charter
phone,(202) 562-9170,(202) 610-5323,(202) 223-4505,(202) 398-6811,(202) 397-5477
address,"3301 WHEELER ROAD SE, WASHINGTON, DC 20032","2600 DOUGLASS ROAD SE, WASHINGTON, DC 20020","421 P STREET NW, WASHINGTON, DC 20001","5300 BLAINE STREET NE, WASHINGTON, DC 20019","1375 MOUNT OLIVET ROAD NE, WASHINGTON, DC 20002"